@font-face {
  font-family: "BebasNeueRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype"); }

@font-face {
  font-family: "BebasNeueBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaRegular/Helvetica.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/Helvetica.woff") format("woff"), url("../fonts/HelveticaRegular/Helvetica.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype"); }

@font-face {
  font-family: "HelveticaLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype"); }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.content {
  width: 100%;
  background: url("../img/dice-bg.png"); }

.dice-gb {
  max-width: 1157px;
  margin: 0 auto;
  margin: 0 23px; }

.dice-header {
  padding: 22px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 24px; }

.dice-logo {
  color: #fff;
  text-transform: uppercase;
  display: inline-block; }
  .dice-logo:hover {
    color: #fff; }
  .dice-logo img {
    float: left;
    margin-right: 23px; }
  .dice-logo span {
    font-size: 30px;
    line-height: 32px;
    float: left;
    font-family: "BebasNeueRegular"; }
  .dice-logo strong {
    font-family: "BebasNeueBold";
    font-weight: bold;
    margin-left: 9px; }

.dice-info {
  margin-top: 8px;
  font-weight: bold;
  font-family: "Helvetica";
  font-size: 16px;
  float: right; }
  .dice-info div {
    display: inline-block;
    vertical-align: middle; }
  .dice-info .wager {
    margin-left: 19px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-family: "Helvetica"; }
    .dice-info .wager span {
      color: #84faf8;
      font-family: "HelveticaBold"; }
  .dice-info .kick {
    color: #fefefe;
    font-weight: 400;
    margin-left: 20px; }

.progressbar-wrap {
  margin-left: 20px; }
  .progressbar-wrap .ic-timer {
    display: inline-block;
    width: 18px;
    height: 21px;
    background: url("../img/dice-timer.png") 0 0 no-repeat;
    vertical-align: middle; }
  .progressbar-wrap .ok {
    width: 22px;
    height: 22px;
    background: url("../img/dice-check.png") 0 0 no-repeat; }

.progressbar {
  position: relative;
  margin: 0 3px;
  width: 270px;
  height: 23px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 4px; }
  .progressbar .bar {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(-45deg, transparent 49.9%, rgba(255, 255, 255, 0.2) 49.9%, rgba(255, 255, 255, 0.2) 70%, transparent 70%), linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 10%, transparent 10%), linear-gradient(#dcab1a, #d08d14);
    background-size: 11px 1em, 2em 2em, 100% 100%; }
  .progressbar .progress {
    font-family: "Helvetica";
    font-size: 11px;
    line-height: 17px;
    color: #fff;
    position: absolute;
    top: 2px;
    right: 15px;
    z-index: 10; }

.dice-content {
  position: relative; }

.dice-left {
  width: 38.2%;
  float: left;
  text-align: center;
  margin-right: 1.9%; }

.dice-video {
  width: 100%;
  border: 1px solid #2c344d;
  background-color: #1a1f2f;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  min-height: 295px;
  border-radius: 10px;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 39px; }

.load-holder {
  text-align: center; }
  .load-holder img {
    display: block;
    margin: 0 auto 37px; }
  .load-holder span {
    display: inline-block;
    color: #84faf8;
    font-size: 16px; }
  .load-holder .dices {
    display: inline-block;
    width: 100%;
    height: auto; }

.dice-center {
  width: 29.7%;
  float: left;
  margin-right: 0.6%; }

.dice-table-header {
  text-align: center;
  display: block; }
  .dice-table-header > span {
    font-size: 18px;
    color: #fabf35;
    font-family: "Helvetica";
    display: block;
    position: relative;
    padding-bottom: 13px; }
    .dice-table-header > span:before, .dice-table-header > span:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 14%;
      width: 23px;
      height: 33px;
      background: url("../img/dice-heading.png") no-repeat 0 0; }
    .dice-table-header > span:after {
      left: auto;
      right: 14%;
      background-position: -23px 0; }

.dice-table {
  border: 2px solid #fabf35;
  border-radius: 14px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 19px; }
  .dice-table tr:first-child td:first-child {
    border-radius: 10px 0 0 0; }
  .dice-table tr:first-child td:last-child {
    border-radius: 0 10px 0 0; }
  .dice-table tr:last-child td:first-child {
    border-radius: 0 0 0 10px; }
  .dice-table tr:last-child td:last-child {
    border-radius: 0 0 10px 0; }
  .dice-table td {
    padding: 0px 7px 0px 10px;
    height: 32px;
    background-color: #cccbcc;
    border: 2px solid #fabf35;
    cursor: pointer; }
    .dice-table td span {
      display: block;
      color: #000; }
    .dice-table td .bet-value {
      float: left;
      font-family: "Helvetica";
      font-size: 14px;
      line-height: 16px;
      margin-top: 2px; }
    .dice-table td .bet-odd {
      float: right;
      font-family: "HelveticaBold";
      font-size: 18px;
      line-height: 20px; }

.odd-even tr td {
  padding: 0px 7px 0px 10px;
  height: 32px; }
  .odd-even tr td .bet-value {
    font-size: 12px;
    line-height: 14px;
    max-width: 85%; }

.odd-even tr:first-child td:first-child {
  border-radius: 10px 10px 0 0; }

.odd-even tr:first-child td:last-child {
  border-radius: 10px 10px 0 0; }

.odd-even tr:last-child td:first-child {
  border-radius: 0 0 10px 10px; }

.odd-even tr:last-child td:last-child {
  border-radius: 0 0 10px 10px; }

.dice-right {
  float: left;
  width: 29.6%; }

.dice-history .dice-table-header > span {
  color: #fff;
  padding-bottom: 8px; }
  .dice-history .dice-table-header > span:before, .dice-history .dice-table-header > span:after {
    left: 12%;
    width: 23px;
    height: 37px;
    background: url("../img/dice-heading-grey.png") no-repeat 0 0; }
  .dice-history .dice-table-header > span:after {
    left: auto;
    right: 12%;
    background-position: -23px 0; }

.history-table {
  width: 100%;
  border: 2px solid #d9d8d8;
  border-radius: 15px;
  padding: 4px 9px 1px 10px; }

.history-row {
  border-bottom: 1px solid #3f4455; }
  .history-row:last-child {
    border-bottom: none; }
  .history-row:nth-child(1n+2) {
    padding-top: 4px; }

.dice-element {
  width: 44px;
  height: 44px;
  background: url("../img/single-dice-bg.png") no-repeat 0 0;
  background-position: 0 0;
  position: relative;
  display: block;
  float: left;
  margin-right: 2px; }
  .dice-element:last-child {
    margin-right: 0; }
  .dice-element:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 9px;
    width: 26px;
    height: 26px;
    background: url("../img/dice-sprite.png") no-repeat 0 0; }

.dice-element.dice-one:after {
  background-position: 0 0; }

.dice-element.dice-two:after {
  background-position: -26px 0; }

.dice-element.dice-three:after {
  background-position: -52px 0; }

.dice-element.dice-four:after {
  background-position: -78px 0; }

.dice-element.dice-five:after {
  background-position: -104px 0; }

.dice-element.dice-six:after {
  background-position: -130px 0; }

.history-game-number {
  color: #d9d8d8;
  font-family: "Helvetica";
  font-size: 12px;
  float: left;
  padding-top: 13px;
  padding-left: 2px; }

.history-game-dices {
  float: right; }
